@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var username = HttpContextAccessor.HttpContext.Session.GetString("UserName");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Study Planner</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    @await RenderSectionAsync("Styles", required: false)
    <script src="~/js/navbar.js"></script>
</head>

<body>
    <header>
        <nav class="navbar-custom">
            <a class="navbar-brand" asp-area="" asp-page="/Index">StudyPlanner</a>
            <ul class="navbar-nav">

                @if (!string.IsNullOrEmpty(username))
                {
                <li class="nav-item">
                    <a class="nav-link @(GetNavLInkClass(ViewContext, "/Index"))" asp-area="" asp-page="/Index">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link @(GetNavLInkClass(ViewContext, "/Dashboard"))" asp-area="" asp-page="/Dashboard">Dashboard</a>
                </li>

                <li class="nav-item">
                    <span class="nav-link">Welcome, @username!</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-myprimary" asp-area="" asp-page="/Auth/Logout">Sign Out</a>
                </li>
                }
                else
                {
                <li class="nav-item">
                    <a class="nav-link @(GetNavLInkClass(ViewContext, "/Index"))" asp-area="" asp-page="/Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(GetNavLInkClass(ViewContext, "/About"))" asp-area="" asp-page="/About">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link @(GetNavLInkClass(ViewContext, "/Auth/Login")) btn-myprimary" asp-area="" asp-page="/Auth/Login">Sign In</a>
                </li>
                }
            </ul>
        </nav>
    </header>



    <main role="main">
        @RenderBody()
    </main>

    <footer class="custom-footer">
        <div class="footer-row footer-row-top">
            <div class="footer-section">
                <h4>StudyPlanner</h4>
                <p>Plan Your Success. One Session At A Time.</p>
            </div>

            <div class="footer-section">
                <h4>Keep In Touch!</h4>
                <p>Keep using Study Planner to achieve your dreams.</p>
            </div>
        </div>

        <div class="footer-row footer-row-bottom">
            <div class="footer-section">
                <h4>CONTACT INFORMATION</h4>
                <ul>
                    <li><a href="mailto:support@studyplanner.com"><i class="fas fa-envelope"></i> support@studyplanner.com</a></li>
                    <li><a href="tel:1800-323-8686"><i class="fas fa-phone"></i> +91 8849781885</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>COMPANY</h4>
                <ul>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>HELP</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Support</a></li>
                </ul>
            </div>

            <div class="footer-section">
                <h4>FOLLOW US</h4>
                <div class="social-icons">
                    <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="footer-bottom-bar">
            &copy; 2025 StudyPlanner. All Rights Reserved.

        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

@functions {
    string GetNavLInkClass(ViewContext viewContext, string page)
    {
        var currentPage = viewContext.ActionDescriptor.DisplayName;
        if (currentPage != null && currentPage.Contains(page, StringComparison.OrdinalIgnoreCase))
        {
            return "active-btn";
        }
        return string.Empty;
    }
}